<template>
    <h1>Humoyun Mahmudovning shaxsiy blogi(Under construction)</h1>
    <p>Yangi teg</p>
    <form @submit.prevent="register">
        <input placeholder="login" type="text" v-model="form.email"/>
        <input placeholder="password" type="text" v-model="form.password"/>
        <button>Jo'natish</button>
    </form>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: 'App',
    components: {},
    methods: {
        ...mapActions(['pushUser']),
        register() {
            this.pushUser(this.form)
        }
    },
    data() {
        return {
            form: {
                email: "",
                password: "",
            }
        }
    }
}
</script>

<style>
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
</style>
